.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr ;
}

.dialogs {
    padding: 10px;
    color: white;
}

.dialogs .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;

}
